:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #212121;
  --secondary-color: #2196f3;
  --third-color: #757575;
  --white-color: #ffffff;
}

* *::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.visually-hidden-checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo,
.logo-footer,
.logo-text {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-text {
  color: var(--secondary-color);
}

.header-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.bord {
  border-bottom: 1px solid #ECECEC;
}

.header-cont {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.auth-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-left: 0px;
}

.menu {
  display: flex;
  align-items: center;
  padding-left: 0px;
}

.menu__item:not(:last-child) {
  margin-right: 40px;
}

.mail-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: 50px;
  color: var(--third-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link:hover, .mail-link:focus {
  color: var(--secondary-color);
  fill: var(--secondary-color);
}

.tel-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-link:hover, .tel-link:focus {
  color: var(--secondary-color);
  fill: var(--secondary-color);
}

.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-mail:hover, .icon-mail:focus {
  fill: var(--secondary-color);
}

.icon-phon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-phon:hover, .icon-phon:focus {
  fill: var(--secondary-color);
}

.menu__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: var(--secondary-color);
}

.menu__link.current:after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  background: #2196F3;
  border-radius: 2px;
  display: block;
  bottom: -1px;
}

.current {
  color: var(--secondary-color);
  position: relative;
}

.hero__title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 30px;
  color: var(--white-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  color: var(--white-color);
  background: #C4C4C4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bd.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: auto;
}

.modal-btn {
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  padding: 12px 32px;
  border-radius: 4px;
  color: var(--white-color);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  background-color: #188CE8;
}

.skill {
  padding-top: 60px;
  padding-bottom: 60px;
}

.skill__item:not(:last-child) {
  margin-bottom: 30px;
}

.skill__roster {
  padding-left: 0;
  margin-right: 0;
}

.icon-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.skill__description {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.roster__title {
  font-weight: bold;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.roster_down {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .skill__roster {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .roster__title {
    text-align: left;
  }
  .skill__item {
    width: 354px;
    height: 251px;
    margin-bottom: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .skill {
    padding-bottom: 0;
  }
  .skill__roster {
    display: flex;
    flex-wrap: nowrap;
  }
  .skill__item {
    flex-basis: calc((100%-120) / 4);
    width: 270px;
    height: 251px;
  }
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work__roster {
  display: flex;
  padding-left: 0;
  justify-content: space-between;
  margin-top: 50px;
}

.work__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  color: var(--accent-color);
  margin: 0px;
}

.work__top {
  width: 370px;
  position: relative;
}

.work__list {
  font-family: var(--main-font);
  font-weight: bold;
  line-height: 1.14;
  width: 100%;
  height: 70px;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.team {
  background-color: #f5f4fa;
  padding-top: 66px;
  padding-bottom: 60px;
}

.team__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 24px;
  color: var(--accent-color);
}

.team__roster {
  padding: 0;
}

.team__member {
  font-size: 16px;
  line-height: 0.84;
  font-weight: 500;
  text-align: center;
  color: var(--accent-color);
}

.team__activity {
  font-size: 16px;
  line-height: 1.89;
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
  color: var(--third-color);
}

.team-describe {
  padding: 30px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--white-color);
  width: 100%;
}

.social-list {
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-list-icon {
  width: 20px;
  height: 20px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.team__list {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__roster {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  .team__list {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    width: 100%;
    height: 536px;
  }
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16;
  }
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team__roster {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  .team__list {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    width: 100%;
    height: 436px;
  }
  .team__list {
    box-shadow: 0px 1px 3px var(--third-color);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 0px;
  }
  .team__member,
  .team__activity {
    background-color: #ffffff;
    border-radius: 3px;
  }
  .team__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
    color: var(--accent-color);
  }
  .team__member,
  .team__activity {
    background-color: #ffffff;
    border-radius: 3px;
  }
}

.clients {
  padding-top: 88px;
  padding-bottom: 88px;
}

.icon-list {
  width: 170px;
  height: 92px;
  margin: 0 auto;
  margin-top: 30px;
}

.clients-list {
  padding-left: 0;
}

.icon-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list-link:hover, .icon-list-link:focus {
  fill: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
}

.clients-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .clients-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    padding: 0;
  }
  .icon-list {
    flex-basis: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
  .icon-list {
    width: 100%;
    height: 92px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    padding: 0;
  }
  .icon-list {
    flex-basis: calc((100% - 90px) / 3);
    margin-top: 30px;
    margin-left: 30px;
  }
  .icon-list {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .icon-list {
    flex-basis: calc((100% - 30px) / 7);
    margin-top: 30px;
    margin-left: 30px;
  }
  .icon-list {
    width: 170px;
    height: 92px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form-field {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
  margin-bottom: 10px;
}

.modal-form-input-wrapper {
  position: relative;
  margin-top: 4px;
  display: block;
}

.modal-form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  fill: #212121;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 6px;
  padding: 12px 18px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--secondary-color);
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  justify-content: center;
  letter-spacing: 0.03em;
}

.modal-form-checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #212121;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 7px;
  background-position: 70% 60%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/icon.check.svg);
  background-repeat: no-repeat;
  border: 1px solid var(--secondary-color);
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  border-color: var(--secondary-color);
}

.modal-form-label-link {
  text-decoration: underline;
  color: #2196f3;
}

.button-form {
  background-color: var(--secondary-color);
  padding: 10px 28px 10px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin-left: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-form:hover, .button-form:focus {
  background-color: #188ce8;
}

.input-form-field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form-field:focus {
  outline: none;
  border-color: var(--secondary-color);
}

.input-form-field:focus + .modal-form-icon {
  fill: var(--secondary-color);
}

.form-modal-btn {
  margin: auto;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--secondary-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-modal-btn:hover, .form-modal-btn:focus {
  background-color: #188ce8;
}

.svg-form-footer {
  margin-left: 10px;
}

.singup-footer-form {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 15px;
  color: #ffffff;
}

.singup-footer-form:focus {
  outline: none;
  border-color: var(--secondary-color);
}

.location {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.communication-mail {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.communication-mail:hover, .communication-mail:focus {
  color: var(--secondary-color);
}

.logo-footer {
  padding: auto;
}

.logo-txt {
  color: var(--white-color);
}

.communication-tel {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.communication-tel:hover, .communication-tel:focus {
  color: var(--secondary-color);
}

.footer-address {
  margin-top: 20px;
}

.footer-mail {
  margin-top: 8px;
}

.footer-tel {
  margin-top: 8px;
}

.footer-right-title {
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-color);
}

.footer-list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.foter-icon:not(:last-child) {
  margin-right: 10px;
}

.footer-list-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-social:hover, .footer-list-social:focus {
  background-color: var(--secondary-color);
}

.footer-list-icon {
  width: 20px;
  height: 20px;
}

.communication {
  margin: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 479px), (min-width: 480px) {
  .logo-second {
    text-align: center;
    padding: 0;
  }
  .logo-text {
    font-size: 26px;
    line-height: 1.19;
  }
  .form-footer {
    text-align: center;
    padding: 0px;
    margin-top: 60px;
  }
  .singup-footer-form {
    margin-bottom: 20px;
    width: 450px;
  }
  .btn-form {
    margin: 0 auto;
  }
  .footer-right-box {
    text-align: center;
    padding: 0;
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    background: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .btn-input {
    display: flex;
  }
  .form-footer {
    text-align: left;
    padding: 0;
    margin: 0;
  }
  .logo-second {
    text-align: left;
    padding: 0;
    margin-right: 70px;
  }
  .footer-right-box {
    text-align: left;
    padding: 0;
    margin-top: 0px;
    margin-right: 93px;
  }
  .singup-footer-form {
    margin: 0;
    width: 358px;
  }
  .button-form {
    margin-left: 12px;
  }
  .footer-information {
    justify-content: space-between;
  }
}

.card-title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--accent-color);
}

.card-text {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;
  color: var(--third-color);
}

.description {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.card-list {
  padding: 0px;
}

.portfolio-card {
  padding: 0;
  display: flex;
  justify-content: center;
}

.card-way {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.card-way:hover, .card-way:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-way:hover:hover .overlay,
.card-way:hover:focus .overlay, .card-way:focus:hover .overlay,
.card-way:focus:focus .overlay {
  transform: translateY(0%);
}

.img-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  top: 0;
  left: 0;
  width: 100%;
  height: 105%;
  overflow: auto;
  padding: 63px 24px;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .nav {
    text-align: left;
    padding: 0px;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .list-butt {
    margin-bottom: 15px;
  }
  .portfolio-card {
    width: 450px;
  }
  .description {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .card-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .portfolio-card {
    width: 354px;
    flex-basis: calc((100% - 60px)/2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .card-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .portfolio-card {
    flex-basis: calc((100% - 90px)/3);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.nav-button {
  font-family: var(--main-font);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-button:hover, .nav-button:focus {
  background-color: var(--secondary-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.nav {
  text-align: left;
  padding: 0px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.list-butt {
  display: inline-block;
}

.list-butt:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 480px) {
  .nav {
    text-align: left;
    padding: 0px;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .list-butt {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    text-align: center;
    padding: 0px;
    margin-top: 60px;
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    margin-top: 94px;
    margin-bottom: 34px;
  }
}
/*# sourceMappingURL=main.css.map */