.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-head {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form-field {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
  margin-bottom: 10px;
}

.modal-form-input-wrapper {
  position: relative;
  margin-top: 4px;
  display: block;
}


.modal-form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  fill: #212121;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 6px;
  padding: 12px 18px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
  color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
  outline: none;
  border-color: var(--secondary-color);
  }
}


.modal-form-checkbox-label {
display: flex;
align-items: center;
margin-bottom: 30px;
font-weight: normal;
font-size: 14px;
line-height: 1.7;
color: #757575;
justify-content: center;
letter-spacing: 0.03em;

  &::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #212121;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 7px;
  background-position: 70% 60%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-form-checkbox:checked + &::before {
  background-image: url(../images/icon.check.svg);
  background-repeat: no-repeat;
  border: 1px solid var(--secondary-color);
  }

  .modal-form-checkbox:focus + &::before {
  border-color: var(--secondary-color);
  }
}

.modal-form-label-link {
  text-decoration: underline;
  color: #2196f3;
}
//footer modal

.button-form {
  background-color: var(--secondary-color);
  padding: 10px 28px 10px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);

  margin-left: 12px;
  cursor: pointer;

  display: flex;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


  &:hover,
  &:focus {
  background-color: #188ce8;
 }
}



.input-form-field {
width: 100%;
height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding-left: 42px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:focus {
  outline: none;
  border-color: var(--secondary-color);
  }

  &:focus + .modal-form-icon {
  fill: var(--secondary-color);
  }

}

.form-modal-btn {
  margin: auto;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--secondary-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover,
  &:focus {
  background-color: #188ce8;
  }
}

.svg-form-footer {
  margin-left: 10px;
}

.singup-footer-form {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 15px;
  color: #ffffff;

  &:focus {
  outline: none;
  border-color: var(--secondary-color);
  }
}

