// .location {
//   font-style: normal;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
  
//   color: var(--white-color);
// }

// .communication-mail{
//   font-style: normal;
//   line-height: 1.71;
//   letter-spacing: 0.03em;

//   color: rgba(255, 255, 255, 0.6);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//   color: var(--secondary-color);
// }
// }


// .communication-tel {
//   font-style: normal;
//   line-height: 1.71;
//   letter-spacing: 0.03em;

//   color: rgba(255, 255, 255, 0.6);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//   color: var(--secondary-color);
// }
// }
// .footer {
//   background: #2f303a;
//   padding-top: 60px;
//   padding-bottom: 60px;
// }
// .footer-address{
//   margin-top: 20px;
// }
// .footer-mail{
//   margin-top: 8px;
// }
// .footer-tel{
//   margin-top: 8px;

// }

// .footer-right-title{
// font-weight: bold;
// line-height: 1.14;
// letter-spacing: 0.03em;
// text-transform: uppercase;
// margin-bottom: 20px;
// color: var(--white-color);
// }


// .footer-information{
//   display: flex;
//   align-items: baseline;
// }

// .footer-right-box{
//   width: 206px;
//   margin-right: 102px;
  
// }
// .footer-list{
//   display: flex;
//   align-items: baseline;
//   justify-content: space-between;
//   padding:0;
  
// }
// .footer-list-social{
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 44px;
//   height: 44px;
//   border-radius: 50%;
//   background-color: rgba(255, 255, 255, 0.1);
//   fill: #ffffff;
  
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus{
//   background-color: var(--secondary-color)      ;
//  }
// }

// .footer-list-icon{
//   width: 20px;
//   height: 20px;
 
// }

// .communication {
//   margin: 0px;
//   padding-left: 0px;
 
// }
