
.menu{
  display: none;
}
.auth-nav{
  display: none;
}

.header__container{
display: flex;
// justify-content: space-between;
align-items: center;
}
.burger-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 0;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &__icon{
width: 40px;
height: 40px;
  }

  &:hover,
  &:focus{
 
  fill: var(--secondary-color);
}
}
  
.header{
  padding-top: 16px;
  padding-bottom: 16px;
}
.close-burger{
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  
  &__icon{
  width: 40px;
  height: 40px;
  cursor: pointer;
  
}
  &:hover,
  &:focus{
  fill: var(--secondary-color);
}
}

.mobile-menu-container{
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 15px;
  
}


.mobile-menu_close-btn{
  position: absolute;
  top: 10px;
  right: 15px;
  
}

.mobile-list__link{
  
  text-decoration: none;
  
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  padding-left: 25px;
  

   color: #212121;;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
  color: var(--secondary-color);
  fill: var(--secondary-color);
}
}

.mobile-list{
  padding: 0;
&__iteam:not(:last-child){
  padding-bottom: 32px;
}
}
.mobile-nav,
.mobile-social{
  padding: 0;
}
// .mobil-nav{
//   width: 100%;
// }
.burger-list{
  margin-bottom: 302px;
}
// .header-link {
//   padding-top: 32px;
//   padding-bottom: 32px;
// }
.bord {
  border-bottom: 1px solid #ECECEC;
}
// .header-cont {
//   display: flex;
//   align-items: center;
// }
.navigation {
  display: flex;
  align-items: center;
}

.mobile-menu{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-mail__link{
 
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  padding-left: 25px;

  color: #757575;
}

.mobile-tell__link{
 
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 1.17;
padding-left: 25px;



color: #2196F3;
}
.mobile-tell{
  padding-bottom: 25px;
}
.burger-nav{
  margin-bottom: 64px;
}

.mobile-social{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-left: 25px;
  
  
  &__link{
  justify-content: left;
  width: 100%;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 1.22;

color: #2196F3;
  }
  &__list:not(:first-child){
    margin-left: 10px;

  }
&__list:not(:last-child){
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
}

.mobile-social__list{
  margin-right: 0;
  
}
@media screen and (max-width: 767px){
.header__container{
  justify-content: space-between;
}
}
@media screen and (min-width: 768px) {
  .mobile-social__list:after {
    content: "";
    position: absolute;
    top: 10px;
    
    width: 22px;
    height: 0px;
    border-bottom:  1px solid rgba(33,33,33,0.2);
    transform: rotate(90deg);
}
// .tablet-menu-container{
//   position: relative;
//   padding-top: 26px;
//   padding-bottom: 26px;
  
  
// }
.header{
  padding: 0;
}
.logo {
  margin-right: 88px;
}
// .logo{
//   padding-top: 16px;
//   padding-bottom: 16px;
// }
.burger-btn{
  display: none;
}
.header-cont {
  display: flex;
  align-items: center;
}
.mobil-nav{
  width: 100%;
}
.header-link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.auth-nav {
  display: block;
  align-items: center;
  margin-left: 80px;
  
  // padding-left: 0px;
  padding-top: 21px;
  padding-bottom: 21px;
}

.menu {
  display: flex;
  align-items: center;
  padding-left: 0px;
}
.menu__item:not(:last-child) {
  margin-right: 40px;
}

.mail-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-bottom: 10px;
  // padding-top: 21px;
   color: var(--third-color);
   padding: 0;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
  color: var(--secondary-color);
  fill: var(--secondary-color);
}
}

.tel-link{
   display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-color);
  padding: 0;
  // padding-bottom: 21px;
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
  color: var(--secondary-color);
  fill: var(--secondary-color);
}
}

.icon-mail{
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;

  &:hover,
  &:focus{
  fill: var(--secondary-color);
  }
}

.icon-phon{
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;

  &:hover,
  &:focus{
  fill: var(--secondary-color);
  }
}


.menu__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  color: var(--secondary-color);
  }

  &.current:after{
  content:"";
  width: 100%;
  height: 4px;
  position: absolute;

  background: #2196F3;
  border-radius: 2px;
  display: block;
  bottom: -5px;
}
}
.logo{
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 24px;
  line-height: 1.1;
  

  color: var(--accent-color);
}
.current {
  color: var(--secondary-color);
  position: relative;
}


}
@media screen and (min-width: 1200px){
.mobile-social__list:after {
    content: "";
    position: absolute;
    top: 10px;
    
    width: 22px;
    height: 0px;
    border-bottom:  1px solid rgba(33,33,33,0.2);
    transform: rotate(90deg);
}

.logo{
  padding-top: 24px;

padding-bottom: 25px;
}
.auth-nav {
  display: flex;
  align-items: center;
  margin-left: 331px;
  
  padding-left: 0px;
}

.menu {
  display: flex;
  align-items: center;
  padding-left: 0px;
}
.menu__item:not(:last-child) {
  margin-right: 40px;
}

.mail-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
  margin-right: 30px;
  margin-bottom: 0;
   color: var(--third-color);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
  color: var(--secondary-color);
  fill: var(--secondary-color);
}
}

.tel-link{
   display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-bottom: 0;
  color: var(--third-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
  color: var(--secondary-color);
  fill: var(--secondary-color);
}
}

.icon-mail{
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;

  &:hover,
  &:focus{
  fill: var(--secondary-color);
  }
}

.icon-phon{
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;

  &:hover,
  &:focus{
  fill: var(--secondary-color);
  }
}


.menu__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  color: var(--secondary-color);
  }

  &.current:after{
  content:"";
  width: 100%;
  height: 4px;
  position: absolute;

  background: #2196F3;
  border-radius: 2px;
  display: block;
  bottom: -1px;
}
}

.current {
  color: var(--secondary-color);
  position: relative;
}


}
// .mobile-social__list:after {
//     content: "";
//     position: absolute;
//     top: 10px;
    
//     width: 22px;
//     height: 0px;
//     border-bottom:  1px solid rgba(33,33,33,0.2);
//     transform: rotate(90deg);
// }


// .auth-nav {
//   display: flex;
//   align-items: center;
//   margin-left: auto;
  
//   padding-left: 0px;
// }

// .menu {
//   display: flex;
//   align-items: center;
//   padding-left: 0px;
// }
// .menu__item:not(:last-child) {
//   margin-right: 40px;
// }

// .mail-link{
//   display: flex;
//   align-items: center;
//   text-decoration: none;
//   font-weight: 500;
//   text-align: center;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   margin-left: auto;
//   margin-right: 50px;
//    color: var(--third-color);
//    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus{
//   color: var(--secondary-color);
//   fill: var(--secondary-color);
// }
// }

// .tel-link{
//    display: flex;
//   align-items: center;
//   text-decoration: none;
//   font-weight: 500;
//   text-align: center;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--third-color);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus{
//   color: var(--secondary-color);
//   fill: var(--secondary-color);
// }
// }

// .icon-mail{
//   width: 16px;
//   height: 12px;
//   margin-right: 10px;
//   fill: currentColor;

//   &:hover,
//   &:focus{
//   fill: var(--secondary-color);
//   }
// }

// .icon-phon{
//   width: 10px;
//   height: 16px;
//   margin-right: 10px;
//   fill: currentColor;

//   &:hover,
//   &:focus{
//   fill: var(--secondary-color);
//   }
// }


// .menu__link {
//   font-weight: 500;
//   line-height: 1.14;
//   letter-spacing: 0.02em;

//   color: var(--accent-color);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//   color: var(--secondary-color);
//   }

//   &.current:after{
//   content:"";
//   width: 100%;
//   height: 4px;
//   position: absolute;

//   background: #2196F3;
//   border-radius: 2px;
//   display: block;
//   bottom: -1px;
// }
// }

// .current {
//   color: var(--secondary-color);
//   position: relative;
// }

