// .hero__title {
//   font-family: var(--main-font);
//   font-weight: 900;

//   margin-bottom: 30px;
//   color: var(--white-color);
// }

.hero {
padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}
    
    .hero__title {
 font-family: var(--main-font);
  font-weight: 900;
font-size: 26px;
line-height: 42px;
color: var(--white-color);
text-align: center;
letter-spacing: 0.06em;
 margin-bottom: 30px;
}  
// .hero {
//   padding-top: 118px;
//   padding-bottom: 118px;
//   text-align: center;
  
  
// }

.hero{
 text-align: center;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/mobile/bg-main.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
    
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 192dpi) and (min-width: 320px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) {
    .hero {
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/mobile/bg-main@2x.jpg);
            
    }
}

@media screen and (min-width: 480px) {
    .hero {
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/tablet/bg-main.jpg);
            background-size: cover;
    background-repeat: repeat;
    background-position: center;
    }
  }

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px),
    screen and (min-resolution: 120dpi) and (min-width: 480px),
    screen and (min-resolution: 2dppx) and (min-width: 480px) {
    .hero {
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/tablet/bg-main@2x.jpg);
    }
  }

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/tablet/bg-main.jpg);
            background-size: cover;
    background-repeat: repeat;
    background-position: center;
    
//     padding-top: 118px;
//   padding-bottom: 118px;
//   text-align: center;
    
//     &__title {
  
//   font-size: 26px;
//   line-height: 1.61;
//  letter-spacing: 0.06em;
// }  
  }
}
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/tablet/bg-main@2x.jpg);
//   padding-top: 118px;
//   padding-bottom: 118px;
//   text-align: center;
    
//     &__title {
  
//   font-size: 26px;
//   line-height: 1.61;
//  letter-spacing: 0.06em;
// }  
    }
}

@media screen and (min-width: 1200px) {
    .hero {
       
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/deckstope/bg-main.jpg);
 padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
    
    &__title {
  
  font-size: 44px;
  line-height: 1.36;
 letter-spacing: 0.06em;
}  
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/deckstope/bg-main@2x.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
    
    &__title {
  
  font-size: 44px;
  line-height: 1.36;
 letter-spacing: 0.06em;
}
  }
}
// .hero__title {
//   font-family: var(--main-font);
//   font-weight: 900;
//   font-size: 26px;
//   line-height: 1.61;
//   margin-bottom: 30px;
//   color: var(--white-color);
// }

// .hero {
//   padding-top: 118px;
//   padding-bottom: 118px;
//   text-align: center;
  
  
// }
