

.hero{
 text-align: center;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/mobile/bg-main.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 192dpi) and (min-width: 320px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) {
    .hero {
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/mobile/bg-main@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/tablet/bg-main.jpg);
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/tablet/bg-main@2x.jpg);
    }
}

@media screen and (min-width: 1200px) {
    .hero {
       
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/deckstope/bg-main.jpg);
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/deckstope/bg-main@2x.jpg);
    }
  }
// jkk
.hero__title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  margin-bottom: 30px;
  color: var(--white-color);
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  
  
}







// середне
// @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
// screen and (min-resolution: 192dpi) and (min-width:320px),
// screen and (min-resolution: 2dppx) and (min-width:320px) {
//     .hero {
//         background-image: linear-gradient(to right,
//                 rgba(47, 48, 58, 0.4),
//                 rgba(47, 48, 58, 0.4)),
//             url(../images/mobile/bg-main.jpg),

//             url(../images/mobile/bg-main@2x.jpg);
          
//           background-size: cover;
//     }
// }

// @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
// screen and (min-resolution: 463dpi) and (min-width:768px),
// screen and (min-resolution: 2dppx) and (min-width:768px) {
//     .hero {
//         background-image: linear-gradient(to right,
//                 rgba(47, 48, 58, 0.4),
//                 rgba(47, 48, 58, 0.4)),
//             url(../images/tablet/bg-main.jpg),

//             url(../images/tablet/bg-main@2x.jpg);
          
//           background-size: cover;
          
//     }
// }

// @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
// screen and (min-resolution: 722dpi) and (min-width:1200px),
// screen and (min-resolution: 2dppx) and (min-width:1200px) {
//     .hero {
//         background-image: linear-gradient(to right,
//                 rgba(47, 48, 58, 0.4),
//                 rgba(47, 48, 58, 0.4)),
               
//             url(../images/deckstope/bg-main.jpg),

//             url(../images/deckstope/bg-main@2x.jpg);
          
//           background-size: cover;
//     }
// }






// старе
// беграцндрепіт но репі но репі
// бег поз центр
// бегр сайс кавер
// @media screen and (min-device-pixel-ratio: 2) and (min-width: 480px),
// screen and (min-resolution: 192dpi) and (min-width:480px),
// screen and (min-resolution: 2dppx) and (min-width:480px) {
//     .hero {
//         background-image: linear-gradient(to right,
//                 rgba(47, 48, 58, 0.4),
//                 rgba(47, 48, 58, 0.4)),
//             url(../images/mobile/bg-main.jpg);
//     }
// }

  
// .hero__title {
//   font-family: var(--main-font);
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   margin-bottom: 30px;
//   color: var(--white-color);
// }
// .hero{
//   color: var(--white-color);
//   background: #C4C4C4;
//   background-image: linear-gradient( to right, 
//   rgba(47, 48, 58, 0.4), 
//   rgba(47, 48, 58, 0.4) ),
    // url(../images/bd.jpg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   max-width: 1600px;
//   margin: auto;
// }
