// .modal-btn {
//   background-color: var(--secondary-color);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   font-weight: bold;
//   font-size: 16px;
//   line-height: 1.88;
//   cursor: pointer;

//   padding: 12px 32px;

//   border-radius: 4px;

//   color: var(--white-color);
//   border: none;
 
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//   background-color: #188CE8;
// }
// }