.work{
  padding-top: 94px;
  padding-bottom: 94px;
}
.work__roster{
  display: flex;
  padding-left: 0;
  justify-content: space-between;
  margin-top: 50px;
}

.work__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
margin-bottom: 50px;
  color: var(--accent-color);
  margin: 0px;
}
.work__top{
    
  width: 370px;
  position: relative
}

.work__list{
  font-family: var(--main-font);
  font-weight: bold;
  line-height: 1.14;
  
  width: 100%;
  height: 70px;
  right: 0;
  bottom: 0;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1199px){
  .work{
    display: none;
  }
}

// @media screen and (min-width: 1200px){
//   .work{
//     display: inline;
//   }
// }